body {
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
    color: white;
    text-align: center;
}

div{
    width: 50%;
    margin-left: 25%;

}

h1 {  
    text-transform: uppercase;
    font-size: 1.8em;
    margin-top: 20px;
}
p {
    font-size: 1rem;
    margin-top: 10px;
}
img{
    border: 5px solid white;
    width: 100%;
}